<div class="header">
  <div class="container">
    <a >
      <i class="pi pi-phone"></i>
      <span class="info-phone"> 316 539 3147 </span>
    </a>
    <a href="mailto:carlosroby2013@hotmail.com" style="text-decoration: none; color: black;">
      <i class="pi pi-envelope"></i>
      <span class="info-email"> {{email}} </span>
    </a>
    <!-- <a class="space social-link w-inline-block">
      <i class="social-icon pi pi-whatsapp" style="font-size: 2rem"></i>
    </a> -->


    <div class="info">



    </div>
  </div>
</div>

