
<section class="section">
  <div class="container w-container">
    <div class="heading-wrap">
      <h2> Nosotros </h2>
    </div>

    <div class="card is--double">
      <div class="column is--image rounded">
        <img class="card-image" src="./assets/tdr/services/1.jpg">
      </div>
      <div class="column is--associates">
        <div class="card-text is--centred">
          <div class="card-text-wrap">
              <div class="title"> hola</div>
              <p> Lorem ipsum dolor sit amasdfsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssset, consectetur adipisicing elit. Qui quod accusantium eum natus recusandae vel, cumque, assumenda minima non dicta consequuntur saepe similique animi voluptatem est facilis repellat reiciendis! Obcaecati.</p>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>

