
.section {
  z-index: 1;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  overflow: hidden;
  background-image:  url(../../../assets/backgrounds/b2.jpg);
}

@media screen and (max-width: 479px) {
  .section {
      padding-left: 10px;
      padding-right: 10px;
  }
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 991px) {
  .w-container {
      max-width: 728px;
  }
}

.container {
  width: 100%;
  max-width: 1168px;
  padding-top: 110px;
  padding-bottom: 110px;
}

@media screen and (max-width: 991px) {
  .container {
      max-width: 600px;
      padding-top: 110px;
      padding-bottom: 110px;
  }
}

@media screen and (max-width: 767px) {
  .container {
      padding-top: 95px;
      padding-bottom: 95px;
  }
}

@media screen and (max-width: 479px) {
  .container {
      padding-top: 80px;
      padding-bottom: 80px;
  }
}

.heading-wrap {
  margin-top: -30px;
  margin-bottom: 40px;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}


.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}








