
<section class="section" style="padding-top: 90px;">
  <div class="container w-container">

      <div class="w-dyn-list">
        <div class="w-dyn-items">

          <app-card-item />


              <!-- <div class="black-line"></div> -->


        </div>
      </div>

      <div class="map-container">
        <app-map-component />
        <div class="card-overlay">
          Transversal 23 b  6 sur 14 - Cerca al cai de tamasagra (Pasto - Nariño)
        </div>
      </div>

    </div>


  </section>


