


@media screen and (min-width: 992px) {

  .doublev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  }



  .card-shadow {
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, .13);
}



@media screen and (max-width: 991px) {
  .card-shadow {
      margin-bottom: 35px;
  }
}

.map{
  width: 100%;
  /* height: 100%; */

}

.carda {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, .13);
  font-family: 'tdr';

}

.carda.isn--double {
  width: 100%;
  display: flex;
  height: 400px
}

.carda, .column.is--image.rounded {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.carda.is--double {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 991px) {
  .carda.is--double {
      border-radius: 0;
      flex-direction: column;
  }
}


.column {
  width: 50%;
  min-height: 565px;
  position: relative;

}


.card-container {
  width: 100%; /* Opcional: Ajusta el ancho del contenedor al 100% */
}

.column.is--image {
  background-color: #c8c8c8;
  overflow: hidden;
  grid-row-gap: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/backgrounds/b1.jpg');
  display: flex; /* Hace que los elementos hijos se comporten como flex items */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos */
}

@media screen and (max-width: 991px) {
  .column.is--image {
      width: 100%;
      height: 400px;
      min-height: auto;
  }
}

@media screen and (max-width: 479px) {
  .column.is--image {
      height: 300px;
  }
}


img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}


.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.column.is--about {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  display: flex;

}

.form-h-wrap {
  margin-bottom: 40px;
}
.form-heading {
  letter-spacing: 2px;
  margin-bottom: 10px;
}


.label {
  color: #646464;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.5;
}

.form-apply-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.field-wrap {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  display: flex;
  font-size: 1.4em;
}
.field-label {
  margin-bottom: 10px;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.w-input, .w-select {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 21px;
  line-height: 1.42857;
  display: block;
}
.field-box {
  width: 100%;
  color: #505050;
}

.em{
  grid-area: span 1 / span 2 / span 1 / span 2;
}

.text-area {
  width: 100%;
  min-height: 140px;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button-on {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 700;
  transition: all .2s;
  display: none;
}

textarea.w-input, textarea.w-select {
  height: auto;
}

@media screen and (max-width: 991px) {
  .column.is--about {
      width: 100%;
      min-height: auto;
      padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .column.is--padding, .column.is--about {
      padding: 35px;
  }
}

@media screen and (max-width: 479px) {
  .column.is--about {
      padding: 25px;
  }
}



h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

span{
  color: black;
  font-size: 1.4em;

}


.about-wrap {
  margin-top: 45px;
  margin-bottom: 45px;
}


p {
  color: #505050;
  letter-spacing: -.2px;
  margin-bottom: 0;
  font-size: 1.33333em;
  line-height: 1.5;
}


.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}


.button {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 700;
  transition: all .2s;
}

@media screen and (max-width: 767px) {
  .button {
      justify-content: center;
      display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button {
      text-align: center;
  }
}


.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}


.card-text {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 767px) {
  .card-text {
      align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .heading {
      letter-spacing: 1px;
      font-size: 2.2em;
  }
}


.par{
  -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}




.collection-item {

  width: 75%; /* Ajusta el ancho de las tarjetas al 100% */

}


.card-simple {
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  padding: 34px 63px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, .13);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-link {
  color: #000;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.contact-label {
  color: #969696;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.8em;
}

@media screen and (max-width: 991px){
  .card-simple {
      width: 100%;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 75px;
  }

}

@media screen and (max-width: 767px){

  .card-simple {
      padding-left: 45px;
      padding-right: 45px;
  }
}

@media screen and (max-width: 479px){

  .card-simple {
      padding: 0px 21px 15px;
  }

  .contact-label{
    margin-bottom: 11px;
  }
}

.black-line {
  height: 6px;
  background-color: black;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}


.button-on {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 700;
  transition: all .2s;
  width: 100%;
}


.button-off {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: not-allowed;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 700;
}
.button-off-text {
  cursor: not-allowed;
}


@media screen and (max-width: 767px) {
  .button {
      justify-content: center;
      display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button {
      text-align: center;
  }
}


.card-title {
  letter-spacing: 0;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.83333em;
  font-weight: 600;
  line-height: 1.4;
}

@media screen and (max-width: 479px){
  .card-title {
      font-size: 1.7em;
  }

}


p {
  color: #000000;
  letter-spacing: -.2px;
  margin-bottom: 0;
  font-size: 1.33333em;
  line-height: 1.5;
}
@media screen and (max-width: 767px){
  p {
      font-size: 1.2em;
  }

}

.p-card {
  font-size: 1.2em;
}

@media screen and (max-width: 991px){
  .p-card {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
  }

}

.heading-wrap {
  margin-top: -30px;
  margin-bottom: 40px;
}

.heading-wrap.is--centred {
  text-align: center;
  color: white;

}

h2 {
  font-size: 2.6em;
  color: black;
  letter-spacing: 2px;


}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.icon {
  width: 96px;
}


.collection-list-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column; /* Alinea las tarjetas verticalmente */
  align-items: center; /* Centra las tarjetas verticalmente */
}


@media screen and (max-width: 991px){
  .collection-list-2 {
      grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 479px){

  .collection-list-2 {
    flex-direction: row; /* Cambia la dirección de flexbox a fila */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: stretch; /* Estira las tarjetas para llenar el contenedor horizontalmente */
  }

  .collection-item {

    width: 39%; /* Ajusta el ancho de las tarjetas al 100% */

  }

  .contact-link{
    font-size: 1.4em;
    word-wrap: break-word;
    max-width: 130%;
  }
}


@media screen and (max-width: 767px){

  .collection-list-2 {
    flex-direction: row; /* Cambia la dirección de flexbox a fila */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: stretch; /* Estira las tarjetas para llenar el contenedor horizontalmente */
  }

  .collection-item {

    width: 39%; /* Ajusta el ancho de las tarjetas al 100% */

  }

  .contact-link{
    font-size: 1.4em;
  }
}
