<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triangle</title>




  <!--  -->

  <title>Blackbox Architectonics | A Collaborative Studio</title>
  <!-- <link href="https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/css/blackboxarch.webflow.9c238cc66.css" rel="stylesheet" type="text/css"/> -->
  <link rel="stylesheet" href="../../../../stylesPortafolios.css">
 
 

  <!--  -->
</head>
<body>
  <header>
    <div class="text-container" >
      <h1>Interiores</h1>
      <span>Tecno Dry Wall - Carlos Roby</span>

    </div>
  </header>



  <section class="section is--featured-projects">
    <div class="container w-container">
        
        <div class="w-embed">
            <style>
                @media screen and (min-width: 992px) {
                    .card-item:nth-child(even) .black-label {
                        margin-right: -134px;
                        margin-left: -14px;
                        padding-right: 0px;
                        padding-left: 14px;
                    }

                    .card-item:nth-child(even) .card.is--double {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: reverse;
                        -webkit-flex-direction: row-reverse;
                        -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                    }

                    .card-item:nth-child(even) .card-text {
                        -webkit-box-align: stretch;
                        -webkit-align-items: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                    }
                }
            </style>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
                <div role="listitem" class="card-item w-dyn-item">
                    
                    <div class="card-shadow">
                        <div class="card is--double">
                            
                            <div class="column is--image">
                                <app-main-carrusel />
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">Sea-View Apartments</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Location</div>
                                        <p>Chalkida, Greece</p>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2008</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>This apartment building is situated in a very privileged sea-view plot in the center of Chalkida. Being both next to the sea and to a neo-classical house has to adopt a double character. The combination of luxury and simplicity connects to the sea and the surroundings.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <img src="../../../../assets/img/iglesia02.JPG" loading="lazy" alt="Bioclimatic house" sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 600px, 48vw" class="card-image"/>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">bioclimatic-building</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Location</div>
                                        <p>Drafi, Greece</p>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Under construction</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>This house is located in a rocky ridge with abrupt slopes.The need to create the minimum imprint in the surroundings along with creating a green ,energy-efficient building, led to the decision to drill the slope, instead of arranging a set of spaces at different levels.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <img src="../../../../assets/img/iglesia05.jpg" loading="lazy" alt="Διαμερίσματα με θέα Ακρόπολη στον Κεραμεικό." sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 600px, 48vw" class="card-image"/>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">Acropolis-View Flats</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Location</div>
                                        <p>Athens, Greece</p>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Under Construction</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>This contemporary building is located in Kerameikos, Athens near Acropolis. Apartments are designed primarily as functional. This functionalism though, has its own aesthetic quality leading to innovate, smart flats.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <img src="../../../../assets/img/iglesia04.jpg" loading="lazy" alt="Kεντρική Πύλη 401 ΓΣΝΑ" sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 600px, 48vw" class="card-image"/>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">401 Hospital Gate</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Location</div>
                                        <p>Athens, Greece</p>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2021</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>Iakovos Tsounis’ endowment allowed to the famous military hospital to renovate its entrance gate. A key consideration is the adaptation of parts –existing and new- to the whole, an appearance in unison with the rest of the hospital units and an appropriate use of ornament. All the above along with the practical needs such as the protection of the sun lead to a plain rigid form aligned to the military character of the hospital.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <img src="../../../../assets/img/iglesia01.jpg" loading="lazy" alt="Μοντέρνα κατοικία μέσα στον ιστό της πόλης, Χαλκίδα." sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 600px, 48vw" class="card-image"/>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">Private Residence</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Location</div>
                                        <p>Chalkida, Greece</p>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2007</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>This residential project is for an urban double family house located in the city of Chalkida. The main idea is to unite the two residences into one discriminated whole so that they are both parts of one concrete volume. Selected parts of the volume are partitioned to establish an indoor-outdoor connection. The different parts of the synthesis are cladded with different materials. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="see-more-wrap">
            <p class="p-light-big">Like to see more projects?</p>
            <a href="/portfolio" class="button w-button">View our Portfolio</a>
        </div>
    </div>
</section>



  
</body>
</html>
