<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triangle</title>




  <!--  -->

  <title>Blackbox Architectonics | A Collaborative Studio</title>
  <link rel="stylesheet" href="../../../../stylesPortafolios.css">


  <!--  -->
</head>
<body>
  <header>
    <div class="text-container" >
      <h1>Edificios</h1>
      <span>Tecno Dry Wall - Carlos Roby</span>

    </div>
  </header>



  <section class="section is--featured-projects">
    <div class="container w-container">

        <div class="w-embed">

        </div>

        <img src="../../../../assets/img/imagenesEdificios/edificio0" alt="">

        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">


                <div role="listitem" class="card-item w-dyn-item">

                    <div class="card-shadow">
                        <div class="card is--double">

                            <div class="column is--image" >
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesEdificios/edificio10.jpg'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h2 class="label-text">Barrio Morasurco</h2>
                                    </div>
                                    
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2008</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizados</div>
                                        <p>• Pintura de fachada.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                

                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesEdificios/edificio03.jpg'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h3 class="label-text">Edificación Pasto</h3>
                                    </div>
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Under Construction</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Description</div>
                                        <p>•  Trabajos en altura.</p>
                                        <p>• Estucos.</p>
                                        <p>• Pinturas.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              

                <div role="listitem" class="card-item w-dyn-item">

                    <div class="card-shadow">
                        <div class="card is--double">

                            <div class="column is--image" >
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesEdificios/edificio06.jpg'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h2 class="label-text">Secretaria de salud(Bombona)</h2>
                                    </div>
                                    
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2008</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Trabajos realizados: </div>
                                        <p>•  Trabajo Ascensor Fibrocemento.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                

                

                



            </div>
        </div>
        <div class="see-more-wrap">
            <p class="p-light-big">Like to see more projects?</p>
            <a href="/portfolio" class="button w-button">View our Portfolio</a>
        </div>
    </div>
</section>




</body>
</html>
