
<section class="section" style="padding-top: 30px;">

  <div class="row">
    <div class="col-md-3">

      <div class="p-3 text-center">
        <h1 class="text-gradient text-primary"><span id="state1" countTo="20">0</span><span>+</span></h1>
        <h5 class="mt-3 title">Construcciones Elaboradas</h5>
        <p class=" " >Conoce las obras realizadas por nuestra empresa.</p>
      </div>

    </div>
    <div class="col-md-3">
      <div class="p-3 text-center">
        <h1 class="text-gradient text-primary"><span id="state2" countTo="40">0</span> <span>+</span> </h1>
        <h5 class="mt-3 title">Años de experiencia</h5>
        <p class=" "  >La confiabilidad y experiencia es importante para nuestros clientes.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="p-3 text-center">
        <h1 class="text-gradient text-primary">  <span id="state3" countTo="300">0</span>       </h1>
        <h5 class="mt-3 title">Obreros Activos</h5>
        <p class=" " >Contamos con el mejor personal en el sector de la construcción.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="p-3 text-center">
        <h1 class="text-gradient text-primary"><span id="state4" countTo="10">0</span>  </h1>
        <h5 class="mt-3 title">Reconocimientos</h5>
        <p class=" " >Nuestros logros.</p>
      </div>
    </div>
  </div>
</section>



<br>
