

<ngb-carousel
style="padding-top: 90px;"
	#carousel
	[interval]="3000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<div class="carousel-caption">
				<h3>My slide {{ i + 1 }} title</h3>
			</div>
			<a  target="_blank" rel="nofollow noopener noreferrer">
				<div class="k">
					<img  [src]="img"   class="carousel-img"/>
				</div>
			</a>
		</ng-template>
	}
</ngb-carousel>
