.k {
  display: flex;
  justify-content: center;
  background-image:  url(../../../../assets/backgrounds/b2.jpg);
}
/* .header{
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  font-size: 16px;
  color: black; // color de la letra
  height: 100px;



} */
.carousel-img {
  width: 60%; /* Ancho predeterminado para pantallas grandes */
  height: auto;
  display: block;
  margin: 0 auto;

}


@media screen and (max-width: 767px) {
  .carousel-img {
      width: 100%; /* Ancho completo para pantallas pequeñas (celulares) */
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.carousel-caption h3 {

  font-size: 5vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-family: 'tdr';
}

@media screen and (max-width: 767px) {
  .carousel-caption h3 {
    font-size: 28px; /* Tamaño para pantallas medianas */
  }
}

/* Media Query para pantallas muy pequeñas, como dispositivos móviles */
@media screen and (max-width: 479px) {
  .carousel-caption {
    top: 45%; /* Ajustar la posición del texto hacia arriba */
  }

  .carousel-caption h3 {
    -webkit-text-stroke: initial;
    font-size: 29px; /* Tamaño para pantallas pequeñas (móviles) */
  }
}
