/* ESTILOS PARA PORTAFOLIO */
@font-face {
    font-family: 'tdr';
    src: url('../../../assets/fonts/tdr.otf') format('opentype');
}
  
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif ;
    background: #ffffff;
}


header{
    width: 100vw;
    height: 55vh;
    background: linear-gradient(
        to right,
        rgba(36, 9, 9, 0.8),
        rgba(17, 6, 6, 0.8)
    ), 
    url(../../../assets/img/portada3.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 80%,
        60% 100%,
        0 80%
    );
    position: relative;
}


header .text-container{
    display: block;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

header .text-container h1{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 40px;
}
header .text-container span{
    color: orangered;
    font-family: 'tdr';
    font-size: 23px;
}


/* cards */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');





.content {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando la pantalla es pequeña */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 70px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio dentro del contenedor */
    margin-top: 60px;
}
  
.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.678);
    width: 100%; /* Por defecto, la tarjeta ocupa el 100% de la fila */
}

.mediaCard {
    /* background: url(../../../assets/img/proyectos01.jpg) center/cover; */
    height: 250px;
    width: 100%; /* Asegura que la imagen cubra toda la tarjeta */
}

.topCard {
    padding: 20px;
    padding-top: 0px;
}

.bottonCard {
    padding: 20px;
}

.actions {
    background: none;
    border: none;
    color: purple;
}

h2.title {
    color: #2b3d59;
}

span.secondText {
    color: #828fa1;
}

p.bottonText {
    color: #445b73;
}

/* Cambiar el ancho de las tarjetas para pantallas grandes */
@media (min-width: 500px) {
.card {
    width: 500px; /* Cada tarjeta ocupa casi la mitad de la fila */
}
}


.topCard {
    font-family: 'tdr';
    padding: 20px;
    padding-top: 0px;
    text-align: center; /* Centra el texto */
}      

.topCard h2{
    font-family: 'tdr';
    font-size: 40px;
    text-align: center; /* Centra el texto */
}   


        
.card {
    text-decoration: none; /* Elimina subrayados en el texto dentro de los enlaces */
    color: inherit; /* Mantiene el color original del texto dentro del enlace */
    pointer-events: all; /* Restablece comportamiento de clic */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.678);
    transition: transform 0.3s, box-shadow 0.3s; /* transición suave */
}

.card .actions {
    pointer-events: all; /* Permite el comportamiento de clic para botones */
}

  
.card:hover {
    transform: scale(1.05); /* Agranda la tarjeta ligeramente */
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.678); /* Aumenta la sombra para mayor énfasis */
}
  

        


