<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triangle</title>
</head>
<body>
  <header>
    <div class="text-container" >
      <h1>Conoce Nuestros Proyectos</h1>
      <span>Tecno Dry Wall - Carlos Roby</span>

    </div>
  </header>

  


  <div class="content">
    <a class="card nav-link" routerLink="/portafolio01"> 
      <div class="card">
        <div class="topCard">
          <h2 class="title">Iglesias</h2>
        </div>
        <div class="mediaCard">
          <img src="../../../assets/img/iglesias.jpg"  class="mediaCard" />
        </div>

        <div class="bottonCard">
          <p class="bottonText">Texto de resumen para la tarjeta 1.</p>
          <div class="actionCard">
            <button class="actions">Curtir</button>
            <button class="actions">Compartir</button>
          </div>
        </div>
      </div>
    </a>


    <a class="card nav-link" routerLink="/portafolio04"> 
      <div class="card">
        <div class="topCard">
          <h2 class="title">Interiores</h2>
        </div>
        
        <div class="mediaCard">
          <img src="../../../assets/img/interiores.jpeg"  class="mediaCard" />
        </div>

        <div class="bottonCard">
          <p class="bottonText">Texto de resumen para la tarjeta 1.</p>
          <div class="actionCard">
            <button class="actions">Curtir</button>
            <button class="actions">Compartir</button>
          </div>
        </div>
      </div>
    </a>

    <a class="card nav-link" routerLink="/portafolio02"> 
      <div class="card">
        <div class="topCard">
          <h2 class="title">Edificios</h2>
        </div>
        <div class="mediaCard">
          <img src="../../../assets/img/edificios.jpg"  class="mediaCard" />
        </div>
        <div class="bottonCard">
          <p class="bottonText">Texto de resumen para la tarjeta 2.</p>
          <div class="actionCard">
            <button class="actions">Curtir</button>
            <button class="actions">Compartir</button>
          </div>
        </div>
      </div>
    </a>

    <a class="card nav-link" routerLink="/portafolio03"> 
      <div class="card">
        <div class="topCard">
          <h2 class="title">Casas</h2>
        </div>

        <div class="mediaCard">
          <img src="../../../assets/img/casas.jpg"  class="mediaCard" />
        </div>

        <div class="bottonCard">
          <p class="bottonText">Texto de resumen para la tarjeta 1.</p>
          <div class="actionCard">
            <button class="actions">Curtir</button>
            <button class="actions">Compartir</button>
          </div>
        </div>
      </div>
    </a>

    
  </div>
  
</body>
</html>