
.navbar {
  z-index: 999;
  height: 90px;
  color: #fff;
  background-color: rgba(0, 0, 0, .95);
  position: fixed;
  top: 2%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-container {
  width: 100%;
  height: 100%;
  max-width: none;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: relative;
}

.logo-link {
  height: 100%;
  align-items: center;
  margin-left: 30px;
  padding-left: 0;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.nav-menu {
  width: 100%;
  height: 100%;
  max-width: 690px;
  justify-content: space-between;
  align-items: center;
  margin-left: 206px;
  margin-right: 206px;
  display: flex;
}
.w-nav-menu {
  float: right;
  position: relative;
}

.nav-social {
  height: 100%;
  align-items: center;
  margin-right: 30px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.nav-link {
  height: 100%;
  opacity: .4;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  font-weight: 600;
  transition: opacity .2s;
  display: flex;
}
.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

a {
  font-family: 'tdr';
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
i {
  color: #fff;
}

a:active, a:hover {
  outline: 0;
}

.nav-link:hover {
  opacity: 1;
}



.collection-list {
  display: flex;
}

.social-link {
  transition: opacity .2s;
}
.social-link:hover {
  opacity: .7;
}

.social-link:active {
  opacity: .5;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.space {
  margin-right: 12px;
}
