<nav class="navbar navbar-expand-lg mb-3">
  <div class="container-fluid">
    <app-tdr />

    <button class="navbar-toggler"  style="color: white;" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse " >

      <nav class=" nav-menu xd"   >
        <!-- <nav class="navbar-nav"> -->

          <a class="nav-link" routerLink="./home"routerLinkActive="select"  (click)="isMenuCollapsed = true">Home</a>
          <a class="nav-link" routerLink="./services"routerLinkActive="select" (click)="isMenuCollapsed = true">Servicios</a>
          <a class="nav-link" routerLink="./portafolio" routerLinkActive="select" (click)="isMenuCollapsed = true">Portafolio</a>
          <a class="nav-link" routerLink="./contact" routerLinkActive="select" (click)="isMenuCollapsed = true">Contacto</a>



          <div class="nav-social is-mobile">


              <div class="collection-list">

                  <a class="space social-link w-inline-block" href="https://wa.link/ilp1wv">
                    <i class="social-icon pi pi-whatsapp" style="font-size: 2rem"></i>
                  </a>
                  <a class=" space social-link w-inline-block" href="https://www.facebook.com/people/construciones-livianas-sistema-dry-wall-arte-final/100049820202777">
                    <i class="social-icon pi pi-facebook" style="font-size: 2rem"></i>
                  </a>
                  <a class="social-link w-inline-block" href="mailto:carlosroby2013@hotmail.com">
                    <i class="social-icon pi pi-envelope" style="font-size: 2rem"></i>
                  </a>



              </div>

          </div>



      </nav>


    </div>



  </div>

</nav>

<!-- <div class="w-nav-overlay" style="height: 8844.33px; display: block;">
  <nav class="nav-menu w-nav-menu">
    <a class="nav-link w-nav-link "> CESAR </a>
    <a class="nav-link w-nav-link "> onias</a>
    <a class="nav-link w-nav-link "> onias</a>
    <a class="nav-link w-nav-link "> onias</a>
    <a class="nav-link w-nav-link "> onias</a>

  </nav>
</div> -->









