<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triangle</title>




  <!--  -->

  <title>Blackbox Architectonics | A Collaborative Studio</title>
  <!-- <link href="https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/css/blackboxarch.webflow.9c238cc66.css" rel="stylesheet" type="text/css"/> -->
  <link rel="stylesheet" href="../../../../stylesPortafolios.css">


  <!--  -->
</head>
<body>
  <header>
    <div class="text-container" >
      <h1>Casas</h1>
      <span>Tecno Dry Wall - Carlos Roby</span>

    </div>
  </header>



  <section class="section is--featured-projects">
    <div class="container w-container">

        <div class="w-embed">
            <style>
                @media screen and (min-width: 992px) {
                    .card-item:nth-child(even) .black-label {
                        margin-right: -134px;
                        margin-left: -14px;
                        padding-right: 0px;
                        padding-left: 14px;
                    }

                    .card-item:nth-child(even) .card.is--double {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: reverse;
                        -webkit-flex-direction: row-reverse;
                        -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                    }

                    .card-item:nth-child(even) .card-text {
                        -webkit-box-align: stretch;
                        -webkit-align-items: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                    }
                }
            </style>
        </div>

        <!-- <img src="../../../../assets/img/imagenesCasas/casa1-1.jpg" alt=""> -->
        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
                <div role="listitem" class="card-item w-dyn-item">

                    <div class="card-shadow">
                        <div class="card is--double">

                            <div class="column is--image" >
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesCasas/casa1-1.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa1-2.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa1-3.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa1-4.jpg'},

                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h4 class="label-text">Obra Barrio Morasurco</h4>
                                    </div>
                                   
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2008</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizados:</div>
                                        <p>• Pintura fachada.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesCasas/casa2-1.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa2-2.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa2-3.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa2-4.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa2-5.jpg'},

                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h4 class="label-text">Obra barrio Las Mercedes</h4>
                                    </div>
                                    
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Under construction</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizadso:</div>
                                        <p>• Pintura fachadas.</p>
                                        <p>• Trabajo en alturas.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesCasas/casa3-1.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa3-2.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa3-3.jpg'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h4 class="label-text">Edificio portal del bernal</h4>
                                    </div>
                                    
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Under Construction</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizados:</div>
                                        <p>• Estuco.</p>
                                        <p>• Pintura.</p>
                                        <p>• Cielo raso.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesCasas/casa4-2.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa4-1.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa4-3.jpg'},
                                        {url: '../../../../assets/img/imagenesCasas/casa4-4.jpg'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h4 class="label-text">Puesto de salud Buesaco</h4>
                                    </div>
                                  
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2021</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizados:</div>
                                        <p>• Estuco.</p>
                                        <p>• Pintura.</p>
                                        <p>• Cielo raso.</p>
                                        <p>• Panel yeso.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               


                <div role="listitem" class="card-item w-dyn-item">
                    <div class="card-shadow">
                        <div class="card is--double">
                            <div class="column is--image">
                                <app-main-carrusel
                                    [images]="[
                                        {url: '../../../../assets/img/imagenesCasas/casa6-1.JPG'},
                                        {url: '../../../../assets/img/imagenesCasas/casa6-2.JPG'},
                                        {url: '../../../../assets/img/imagenesCasas/casa6-3.JPG'},
                                        {url: '../../../../assets/img/imagenesCasas/casa6-4.JPG'},
                                    ]">
                                </app-main-carrusel>
                            </div>
                            <div class="column is--padding">
                                <div class="card-text is--featured">
                                    <div class="black-label">
                                        <h4 class="label-text">Hospital San Rafael</h4>
                                    </div>
                                    
                                    <div class="details-wrap">
                                        <div class="label is--dark">Status</div>
                                        <p>Completed in 2021</p>
                                    </div>
                                    <div class="details-wrap is--no-padding">
                                        <div class="label is--dark">Servicios realizados:</div>
                                        <p>• Estuco. </p>
                                        <p>• Pintura. </p>
                                        <p>• Fachadas en fibrocemento. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="see-more-wrap">
            <p class="p-light-big">Like to see more projects?</p>
            <a href="/portfolio" class="button w-button">View our Portfolio</a>
        </div>
    </div>
</section>




</body>
</html>
