<section class="section is--services">
  <div class="container">
    <div class="heading-wrap is--centred">
        <h2>MIS SERVICIOS</h2>

    </div>

    <div class="w-dyn-list">
      <div class="collection-list-2 ">
        @for (service of services; track $index) {
          <div class="collection-item ">
            <div class="card-simple">
                <div class="black-line"></div>
                <img class="icon" [src]="service.image">
                <h3 class="card-title"> {{service.title}} </h3>
                <p class="p-card"> {{service.description}}  </p>
            </div>
          </div>
        }

        <div class="collection-item ">
          <div class="card-simple">
              <div class="black-line"></div>
              <!-- <img class="icon" [src]="service.image"> -->
              <a class="button w-button card-title" style="background-color: #00532d;" routerLink="/contact"> Cotizar </a>

              <a class="button w-button card-title" style="background-color: #8d6900;" routerLink="/services"> Ir a servicios</a>
              <a class="button w-button card-title" style="background-color: #560101;" routerLink="/portafolio"> Portafolio</a>
              <!-- <h3 class="card-title"> {{service.title}} </h3> -->
              <!-- <p class="p-card"> {{service.description}}  </p> -->
          </div>
        </div>


      </div>

    </div>

  </div>
</section>
