<section class="section is--services">
  <div class="container">
    <div class="heading-wrap is--centred">
        <h2>MIS SERVICIOS</h2>

    </div>

    <div class="w-dyn-list">
      <div class="collection-list-2 ">
          <div class="collection-item ">
            <div class="card-simple">
                <div class="black-line"></div>
                <h3 class="card-title"> Diseño</h3>
                <p class="p-card"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis hic et ex quasi earum explicabo libero quibusdam incidunt. Distinctio assumenda eius enim porro sequi molestiae dignissimos alias necessitatibus quaerat non. </p>
            </div>
          </div>
          <div class="collection-item">
            <div class="card-simple">
                <div class="black-line"></div>
                <h3 class="card-title"> Diseño</h3>
                <p class="p-card"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum sint dolorum officiis voluptatibus quam nulla minus a doloremque aut culpa, perferendis neque velit fugiat praesentium laudantium quas iure maxime itaque!</p>
            </div>
          </div>
      </div>

    </div>

  </div>
</section>
